body {
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
}
p {
  line-height: 2;
}
h1 {
  font-size: 4.4rem;
  margin: 0 auto 0 auto;
  font-family: "Sacramento", cursive;
  position: relative;
  top: 25%;
}
.h1center {
  position: relative;
  top: 22%;
}
h2 {
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}
hr {
  border: dotted #dbe2ef 6px;
  border-bottom: none;
  width: 5%;
}
.top-container {
  background-color: #cbf1f5;
  position: relative;
  height: 100vh;
  color: #66bfbf;
}
.middle-container {
  background-color: #fcedda;
  padding-top: 15%;
}
.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 15px;
}
.top-cloud {
  position: absolute;
  right: 20%;
  top: 25%;
}
.bottom-cloud {
  position: absolute;
  left: 20%;
  bottom: 50%;
}
.mountain {
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 0);
}
.avatar {
  width: 10%;
  position: relative;
  top: -20px;
  border-radius: 50%;
  background-color: #cbf1f5;
}
.skills {
  margin: 10% auto 10% auto;
}
.skill-row {
  width: 50%;
  margin: 10% auto 10% auto;
  text-align: left;
}
.profile {
  margin: 0 auto 10% auto;
}
.loading {
  width: 30%;
  float: left;
  margin: -30px 30px 0 0;
}
.web-build {
  width: 30%;
  float: right;
  margin: -40px 0 0 30px;
}
.fit2 {
  margin-top: 0;
}
.contact-me {
  margin: 10% auto 0 auto;
  padding-bottom: 15px;
}
.socialmedia {
  margin-top: -20px;
  height: 35px;
  width: 35px;
}
.socialmedia:hover {
  margin-top: -20px;
  height: 35px;
  width: 35px;
  opacity: 0.7;
}
.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
}
.BUTTON_DJY {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 15px;
  box-shadow: 1px 1px 20px 0px #000000;
  -webkit-box-shadow: 1px 1px 20px 0px #000000;
  -moz-box-shadow: 1px 1px 20px 0px #000000;
  text-shadow: 1px 1px 20px #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_DJY:hover {
  border: solid #337fed 1px;
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}
